{% if request.user.is_authenticated %}
    <p> {{request.user}} </p>
    <a href="{% url 'logout' %}">LogOut</a>
{% else %}
    <a href="{% url 'login' %}">LogIn</a>
{% endif %}
<hr>
<h1>Questions</h1>

<table>
  {% for question in questions %}
  <tr>
    <th>
    <h4> {{question.title}}</h4> <br>
      <select>
            {% for answer in question.answer_options.all %}
               <option>{{answer.title}}</option>
            {% endfor %}
      </select>
   </th>
  </tr>
  {% empty %}
  {% endfor %}
</table>
<p><input type="submit" value="Выбрать"></p>
